{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border:1px solid red;}</style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
     <link rel="stylesheet" href='{{ PORTAL_URL }}{% static "css/main.css" %}'>

</head>
<body>
<div class="row">
    <div class="col-xs-4">
        <button class="btn">Test</button>
    </div>
    <div class="col-xs-4">
        <button class="btn">Test</button>
    </div>
    <div class="col-xs-4">
        <button class="btn">Test</button>
    </div>

</div>
<div class="row">
    <div class="col-xs-4">
        <strong>Test4</strong>
    </div>
    <div class="col-xs-4">
        <strong>Test5</strong>
    </div>
    <div class="col-xs-4">
        <strong>Test6</strong>
    </div>

</div>
<div class="row">
    <div class="col-xs-4">
        <strong>Test7</strong>
    </div>
    <div class="col-xs-4">
        <strong>Test8</strong>
    </div>
    <div class="col-xs-4">
        <strong>Test9</strong>
    </div>

</div>
<div class="row">
    <div class="col-xs-4">
        <strong>Test10</strong>
    </div>
    <div class="col-xs-4">
        <strong>Test11</strong>
    </div>
    <div class="col-xs-4">
        <strong>Test12</strong>
    </div>

</div>


            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>