{% extends 'index_new.html' %}
{% load static from staticfiles %}

{% block content %}
				{% for track in tracks %}
				<div class="col-xs-4">
					{{ track.name }}
				</div>
				<div>
					<audio controls="controls">
						<source src="{{ track.path.url }}">
					</audio>
				</div>
				<div class="col-xs-2">
					<div class="btn-group">
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						Options
						<span class="caret"></span>
					  </a>
						  <ul class="dropdown-menu">
							  <a href="#">Add to playlist</a>
						  </ul>
					</div>
				</div>
			{% endfor %}
{% endblock content %}
