/* Global Styles */
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}


/* знайшли елемент футера по його унікальному ідентифікатору
footer */
#footer {
/* задаємо верхню межу елемента: ширина лінії, тип лінії, колір
лінії */
border-top: 1px solid #dddddd;
/* задаємо внутрішню відстань елемента до верхнього краю */
padding-top: 10px;
}

/*Social icons in footer*/
#Instagram {
padding-top: 5px;
padding-bottom: 5px;
}

#Twitter {
padding-top: 5px;
padding-bottom: 5px;
}

#Facebook {
padding-top: 5px;
padding-bottom: 5px;
}

/*Side navigation menu*/

#navigation{
padding-left: 5px;
}
